html,body{
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
}
.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.nav{
    background: #929190;
    padding: 0 2rem;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
   
    
    
}
.nav .nav-brand a{
    font-size: 2rem;
    padding: 1rem 0;
    text-decoration: none;
    display:block ;
    
}
.nav .nav-menu{
    justify-content: space-between;

}
.nav .toggle-collapse{
    position: absolute;
    top:0%;
    width: 90%;
    cursor: pointer;
    display: none;

}
.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;

}
.nav .toggle-collapse .toggle-icons i{
    font-size: 2rem;
    color: #0f0f0f;
}
.collapse{
    height: 30;
}
.nav .nav-items{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;


}
a{
    color:var(--text-gray);
    text-decoration: none;
    font-size: large;
    
}
a:hover{
    color: red;
    text-decoration: underline;
    background-color: #a18cd1;
}
.nav .nav-items .nav-link{
    padding: 1.6rem 1rem;
    display: block;
    
}
button.btn{
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    background-color: gold;
    
    cursor: pointer;
}
.moto{
    color: #390e9f;
    
}
h1,h3{
    text-align: center;
}
p{
    text-align: left;
    position: relative;
    top: 5px;
    left: 35px;
    width: 80%;
}